<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ruby Lab: Pokemon + Sinatra</title>
		<link rel="stylesheet" href="/css/pokestyle.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<%= yield %>
	</body>
</html>
