@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

body {
	margin: 0;
	font-family: "Lato", "Helvetica", sans-serif;
	font-size: 12pt;
	color: #000;
}

h1 {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

header {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

header li {
	display: inline-block;
}

header a {
	display: inline-block;
	margin: 1em;
	padding: 1.4em 0;
	width: 300px;
	border: 2px solid #F6BB42;
	border-radius: 4em;
	text-align: center;
	font-weight: 700;
	color: #F6BB42;
}

header a:hover {
	color: #FFCE54;
	transition: 0.5s;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

button {
	box-sizing: content-box;
}

.pokemon-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pokemon-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1.4em;
	width: 240px;
	border: 1px solid #E6E9ED;
	border-radius: 1em;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.pokemon-card.big {
	width: 400px;
}

.pokemon-title {
	padding: 1.2em 0;
	font-weight: 700;
}

.pokemon-type {
	display: block;
	margin: 0.5em 0;
	padding: 0.5em;
	border-radius: 2px;
	font-size: 10pt;
}

.pokemon-image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.2em 0;
	height: 136px;
}

.pokemon-image img {
	max-width: 160px;
	max-height: 136px;
}

.big .pokemon-image {
	height: 300px;
}


.big .pokemon-image img {
	max-width: 360px;
	max-height: 300px;
}

.pokemon-footer {
	margin: 1.2em 0;
}

.pokemon-button {
	display: inline-block;
	margin: 0.4em;
	padding: 1em;
	width: 140px;
	border: none;
	border-radius: 2em;
	background: #56ab2f; /* fallback */
	background: linear-gradient(to left, #56ab2f , #a8e063);
	font-family: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	font-size: 10pt;
	font-weight: 300;
	color: #fff;
}

.big .pokemon-button {
	padding: 1.4em;
	width: 240px;
}

.pokemon-button:hover {
	background: #77bb58; /* fallback */
	background: linear-gradient(to left, #77bb58 , #b9e682);
}

.pokemon-button.primary {
	background: #3a7bd5; /* fallback */
	background: linear-gradient(to left, #3a7bd5 , #00d2ff);
}

.pokemon-button.primary:hover {
	background: #6195dd; /* fallback */
	background: linear-gradient(to left, #6195dd , #32dbff);
}

.pokemon-button.warning {
	background: #cb2d3e; /* fallback */
	background: linear-gradient(to left, #cb2d3e , #ef473a);
}

.pokemon-button.warning:hover {
	background: #d55664; /* fallback */
	background: linear-gradient(to left, #d55664 , #f26b61);
}
